h1{ 
    font-family: 'Bebas Neue', cursive;

    color: #363958;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 80px;
}
h2{
    font-family: 'Bebas Neue', cursive;

    color: #363958;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
}
h3{
    font-family: 'Bebas Neue', cursive;

    color: #363958;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}
p{
    font-family: 'Roboto', sans-serif;

    color: #3E3E3E;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    padding-bottom: 50px;
}

.orange-highlight{
    color: #FF8367 ;
}
.orange2-highlight{
    color: #F46060;
}
.btn1{
    font-family: 'Roboto', sans-serif;

    text-decoration: none;

    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    background-image: linear-gradient(0deg, #FF8063 -28.33%, #F46060 95.83%);
    border-radius: 6px;
    padding: 20px 70px;     
}
.half-width{
    background-color: white;
    width: 40%;
    margin: 2%;
    padding: 2%;
    float: left;
}
.half-width img{
    width: 100%;
}
.section{
    height: 700px;
    padding-bottom: 2px;
}
.center{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 20px;
}
.half-width2{
    background-color: white;
    width: 25%;
    margin: 1%;
    padding: 1%;
    float: left;
}
.half-width2 img{
    width: 100%;
}
.half-width2 p{
    font-family: 'Roboto', sans-serif;

    color: #3E3E3E;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    padding-bottom: 0px;
}
.section2{
    background-color:#E5E5E5;
    border-radius: 10px;

    height: 750px;
    padding-bottom: 2px;
}
.design-box{
    background-color: white;
    box-shadow: 5px 5px 5px gray;
    border-radius: 15px;
}
.section3{
    background-color:#E5E5E5;
    border-radius: 10px;

    height: 400px;
    padding-bottom: 2px;
}
.footer{
    background-color: white;
    width: 10%;
    padding: 2px;
    float: left;
}
.footer img{
    width: 100%;
}
.footsection{
    height: 200px;
    padding-bottom: 20px;

    padding-top: 20%;
   
}
.footsection h3{   
    font-family: 'Bebas Neue', cursive;

    color: #696871;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;

    text-align: center;
}
.footsection h2{
    font-family: 'Roboto', sans-serif;

    color:#363958;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;

    text-align: center;    
}



#banner-1{
    background-image: url("image/b1.png");
    background-repeat: no-repeat;
}
#banner-2{
    background-image: url("image/b2.png");
    background-repeat: no-repeat;
    background-position: right;
}
#boxalign{
    padding-left: 140px  ;
    padding-right: 10px;
}
#footeralign{
    padding-left: 580px  ;
    padding-right: 300px;
}

.bottom-box{
    background-color: white;

    padding: 2%;
    margin: 2%;
}
.bottom-box p{
    font-family: 'Roboto', sans-serif;

    position: absolute;
    top: 10%;
    left: 10%;

    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 64px;
}

#bottom-box-image{
    background-image: url("image/b3.png");
    background-color: #cccccc;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    border-radius: 30px;

    margin-left: 10%;
    margin-right: 10%;
    padding: 2%;
}
#botom-box-align{
    
}
